/* containers holding live data */
.dataContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.greyText {
  font-size: 16;
  opacity: 0.5;
  color: white;
}
.text {
  font-size: 18;
  color: white;
}

/* Top Header Section */
.dropDown {
  background-color: #3c4c5e;
  border: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.dropDown option {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
